.mainsection {
    background-image: url(../img/paper-textures-Vq1FQ_uNppw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.form-section {
    background-color: #0006;
    padding: 30px;
    border-radius: 10px;
}

.titles {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff;
}

.titles h1 {
    font-size: 50px;
}

.searchinput {
    border-radius: 20px;
}

.list-group-item+.list-group-item {
    border-top-width: 1px;
    border-radius: 10px;
}

.list-group-item {
    border-radius: 10px !important;
}